extends ../_layout.jade

block content
  .container
    .page-header
      h1 Presentations/Talks
    .row
      .col-md-9
        .panel
          .panel-body

            //- for each item in the data...
            each entry, s1 in public.presentations._data
              each conf in entry.data
                .row
                  .col-md-12
                    a(name='#{ conf.slug }')
                    h3 #{ conf.conference }
                    h5 #{ conf.date }
                    a(href='#{ conf.web_link }') Conference Homepage


                    each session in conf.sessions
                      .row
                        .col-xs-11
                          h4 #{ session.title }
                          p #{ session.abstract }

                          if session.assets
                            ul
                              each asset in session.assets
                                li
                                  a(href='#{ asset.link }') #{ asset.title }
                hr
      .col-sm-3
        .panel.panel-default
          .panel-heading
            | Conferences
          .panel-body
            ul
              each entry, s1 in public.presentations._data
                each conf in entry.data
                  li
                    a(href='##{ slug }') #{ conf.conference }
