extends _layout.jade

block content
    .container
        .page-header
            h1 Rob Gillen
            .logo-subtitle random wanderings through technology, code, and life
        .row
            .col-md-9
                //- .panel
                    //- .panel-heading
                    //-     | Technology Posts
                //-     .panel-body
                each entry, slug in public.technology._data
                    if slug != 'index'
                        .row
                            .col-md-12
                                a(href='/technology/#{ slug }')
                                    h3 #{ entry.title }
                                p
                                    i.glyphicon.glyphicon-time
                                    |  Posted on #{ entry.date }
                                    = '  '
                                    //- i.glyphicon.glyphicon-comment
                                    //- span.disqus-comment-count(data-disqus-url='http://robgillen.com/technology/#{ slug }')
                                    //- |  comments
                                p #{ entry.excerpt }
                                a.btn.btn-default(href="/technology/#{ slug }")
                                    | Continue Reading
                                    = ' '
                                    i.glyphicon.glyphicon-chevron-right
                        hr
                //
                    .panel
                        .panel-heading
                            | publications


            .col-sm-3
                .row
                    .col-sm-12
                        img(alt='', class='avatar', data-user='621404', height='230', src='https://avatars3.githubusercontent.com/u/621404?v=3&amp;s=460', width='230')
                        h3.vcard-names
                            a(href='https://github.com/argodev', target='blank')
                                i.fa.fa-github
                            = '  '
                            a(href='https://twitter.com/argodev', target='blank')
                                i.fa.fa-twitter
                            = '  '
                            a(href='https://www.linkedin.com/in/gillenrob', target='blank')
                                i.fa.fa-linkedin
                            = '  '
                            a(href='http://www.slideshare.net/rgillen', target='blank')
                                i.fa.fa-slideshare
                            = '  '
                            a(href='http://stackoverflow.com/users/97447/argodev', target='blank')
                                i.fa.fa-stack-overflow
                            = ' '
                            a(href='http://www.researchgate.net/profile/Robert_Gillen2', target='blank')
                                i.ai.ai-researchgate
                            = ' '
                            a(href='https://scholar.google.com/citations?user=aWpgGlcAAAAJ', target='blank')
                                i.ai.ai-google-scholar
                            = ' '
                            a(href='http://www.mendeley.com/profiles/rob-gillen/', target='blank')
                                i.ai.ai-mendeley
                .row
                    .col-sm-11
                        .panel.panel-default
                            .panel-heading
                                | Quick Links
                            .panel-body
                                ul
                                    li
                                        a(href='about#profile') Professional Profile
                                    li
                                        a(href='about#education') Education
                                    li
                                        a(href='about#certifications') Certifications
                                    li
                                        a(href='about#awards') Awards
